
# Posrgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASS=password
DB_NAME=flight_ingestion

# RabbitMQ
MQ_HOST=localhost
MQ_PORT=5672
MQ_MANAGEMENT_PORT=16572
MQ_USER=admin
MQ_PASS=password
MQ_ERLANG_COOKIE=REPLACE_WITH_A_LONG_RANDOM_STRING

# Schiphol API
SCHIPHOL_APP_ID=<your-schiphol-app-id>
SCHIPHOL_APP_KEY=<your-schiphol-app-key>
SCHIPHOL_API_URL=https://api.schiphol.nl

# JWT
JWT_SECRET=your-secret-key-change-this-in-production
JWT_EXPIRES_IN=7d

# Email Service
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_FROM=Flight Notifier <noreply@flightnotifier.com>
